* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  background-color: #333;
}
  
.wrap {
  height: 70vh;
  width: 70vw;
  margin: 10vh auto 0;
  position: relative;	
}

.wrap > input {
  display: none;
}
  
.slider {
  height: inherit;
  width: inherit;
  position: relative;
  background-color: #ddd;
  box-shadow: 0 0 30px rgba(0, 0, 0, .7);	
  overflow: hidden;
  margin-bottom: 2rem;		
}
  
.slides {
  height: inherit;
  position: absolute;
  width: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
  
.slide1 {background-image: url(./assets/img/html5.webp);}
.slide2 {background-image: url(./assets/img/css3.jpg);}
.slide3 {background-image: url(./assets/img/js.png);}
.slide4 {background-image: url(./assets/img/node-js.jpg);}
.slide5 {background-image: url(./assets/img/angular.png);}

label {
	cursor: pointer;
	display: inline-block;
	height: 1rem;
	margin: 1rem 0.8rem 1rem;
	position: relative;
	width: 1rem;
	border-radius: 50%;	
	background-color: rgb(57, 97, 244);
	transition:  ease-in-out .5s;
}

label:after {	
  content: " ";
  display: block;
  height: 0.9rem;
  left: -0.8rem;
  position: absolute;
  padding: 1rem;
  top: -0.9rem;
  width: 0.7rem;
  border-radius: 50%;
  transition: ease-in-out .5s;
}

label:hover {
  background-color: white;
  transition: ease-in-out .5s;
}


#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	border: 0.2rem solid rgb(57, 97, 244);
	background: inherit;
	transition: ease-in-out .5s;

}

#slide1:checked ~ .controls label:nth-of-type(1):hover,
#slide2:checked ~ .controls label:nth-of-type(2):hover,
#slide3:checked ~ .controls label:nth-of-type(3):hover,
#slide4:checked ~ .controls label:nth-of-type(4):hover,
#slide5:checked ~ .controls label:nth-of-type(5):hover {
  border-color: white;  
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.description {
	position: relative;
	width: 60%;	
	font-size: 1.5rem;
	color: #eee;
}

.descriptions {
	opacity: 0;
	position: absolute;	
	z-index: 0;
	transform: scale(.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide1:checked ~ .description > .description1,
#slide2:checked ~ .description > .description2,
#slide3:checked ~ .description > .description3,
#slide4:checked ~ .description > .description4,
#slide5:checked ~ .description > .description5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.controls {
	min-width: 20%;
	display: flex;
	justify-content: end;
}

@media (max-width: 920px ) {

	.wrap {
    height: 60vh;
  }
}

@media (max-width: 767px ) {

	.wrap {
    height: 30vh;
  }

  .description {  
    top: 5vh;
    width: auto;
  }

  .controls {
    justify-content: center;
  }
}
